<footer>
  <div class="container">
    <p>
      We are not responsible for any liabilities that may occur due to the usage of this website.
      This website is not sponsered by The Ohio State University.
    </p>
  </div>
</footer>
