<nav>
  <div class="container">
    <span>SPrC</span>
    <span class="right">
      <a href="uploadDegreeAudit.html" target="_blank">Upload Degree Audit</a>
      <a href="https://buckeyelink.osu.edu/task/all/schedule-planner" target="_blank">View Schedule Planner</a>
    </span>
  </div>
</nav>
