---
title: "Dr. Jim W. Davis"
---
<!--@author: Sarah Ryherd @date: 10/9/17 Created the file-->
<!--@author: Sarah Ryherd @date: 10/13/17 Added footer information, title, and links to other pages with styling.-->
<!--@author: Sarah Ryherd @date: 10/14/17 Added content to the body of homepage-->
<!--@author: Shaina Leibovich @date: 10/16/17 Edited formatting slightly, added embedded ruby for header/footer-->
<!--@author: John Morales @date: 10/16/17 Changed ids to classes-->
<!--@author: Sarah Ryherd @date: 10/16/17 Made image circular-->
<!--@author: Sarah Ryherd @date: 10/17/17 Switched body content and adjusted margins-->
<!--@author: John Morales @date: 10/17/17 Improved homepage by implementing div table-->

<div class="divTable">
  <div class="divTableBody">

    <div class="divTableRow">
      <div class="divTableCell" style="padding:40px 80px;">
        <img id="homeImg" class="centerImg roundImg" src="images/JamesWDavis.jpg" alt="James W Davis"/>
      </div>
      <div class="divTableCell centerText">
        <h4>Ph.D. MIT, 2000</h4>
        <h4>Research Interests</h4>
        <p>Prof. Jim Davis, Dept. of Computer Science and Engineering, is developing
          advanced video surveillance systems that use computers equipped with video
          cameras to not only detect the presence of people and track them, but also
          to identify their activities. The research has broad implications for Homeland
          Security as well as search and rescue, border patrol, law enforcement and many
          other types of military applications. The systems combine video cameras with
          machine learning methods, enabling the computer to perform the kind of visual
          recognition that seems effortless for humans. Davis' work in investigating
          computer vision methods was recognized by the National Science Foundation with
          the prestigious NSF Faculty Early Career Development (CAREER) Program award.
          Support for this research (past and present) has been provided by the National
          Science Foundation, U.S. Air Force, Los Alamos National Lab, U.S. Army Night
          Vision Laboratory, Intel, and Ohio Board of Regents.
        </p>
      </div>
    </div>

  </div>
</div>
