---
title: "Dr. Jim W. Davis: iMix"
---

<!--@author: Shaina Leibovich @date: 10/17/7 created file and added content-->

<div class="body">
  <h1>iMix 110 - Smart Surveillance</h1>

  <iframe src="https://player.vimeo.com/video/5380509" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <p>
    <a href="https://vimeo.com/5380509">iMix 110 - Smart Surveillance</a> from <a href="https://vimeo.com/wosu">WOSU Public Media</a> on <a href="https://vimeo.com">Vimeo</a>.
  </p>

  <p>
    A new episode of iMix will air on the Big Ten Network on Tuesday, July 28 at
    6:30pm; Thursday, July 30 at 5pm; and Friday, July 31 at 8:30am. Hosted by
    Chris Forbes, this episode explores the world of "smart" surveillance systems
    with Professor James W. Davis and his team of graduate and undergraduate
    researchers.
  </p>
  <p>
    Using computers equipped with video cameras, Professor Jim Davis and his team
    are developing a system that uses human recognition principles to detect
    abnormalities in typical visual patterns. This new technology allows the camera's
    to "see" trouble and send out alerts to security personnel. The cameras can be
    operated remotely and over the internet.
  </p>
  <p>Where to watch the Big Ten Network in Columbus:</p>
  <ul>
    <li>WOW - Channel 87</li>
    <li>Time Warner - Channel 58</li>
    <li>Insight - Channel 26</li>
  </ul>
