---
title: "Dr. Jim W. Davis: Lab Positions"
---

<!--@author: Shaina Leibovich @date: 10/17/7 Created page and populated with info.-->

<div class="body">
  <h1>Recent News</h1>
  <h2>Grad Positions Available [FILLED!]</h2>
  <p>
    The Computer Vision Lab is looking to hire 1 Graduate research student
    (Ph.D. student preferred, but M.S. student will be considered) to be engaged
    in Computer Vision research in the domain of "Intelligent Computer Surveillance
    and Monitoring" with an emphasis on behavioral modeling. Due to the source of the funding,
    the students must be US Citizens. Interested applicants should contact
    Prof. Davis by email.
  </p>
  <h2>Undergrad Positions Available [FILLED!]</h2>
  <p>
     The Computer Vision Lab is looking to hire 1 CSE Undergraduate researcher
     to be engaged in Computer Vision research. This opportunity is aimed at
     actively engaging Undergraduates in exciting research projects that
     additionally prepare students for graduate study. The research projects
     will pertain to various facets of "Intelligent Computer Surveillance and
     Monitoring". Mentoring and training will be provided by Prof. Davis and
     Graduate students in the Computer Vision Laboratory. Interested Undergraduate
     students should currently be in their Junior or Senior year, with a GPA of at
     least 3.5, and be familiar with C/C++/Java (experience with Matlab is a plus).
     The pay rate will be $10/hr with an expectation of working around 10 hrs/week.
     The positions are to begin as soon as possible and are expected to continue
     through the academic year (or longer). Interested applicants should contact
     Prof. Davis by email and provide a short resume that includes experience,
     courses completed, and GPA.
  </p>
