;;;
"title": "Dr. Jim W. Davis: Media/Press",
"tv_list": [ "NPR (WOSU) Interview on \"All Sides with Ann Fisher\" (aired live 01/20/15)",
             "NPR (WOSU) Interview on \"All Sides with Ann Fisher\" (aired live 07/03/14)",
             "iMix, Big10 TV Network, \"Smart Surveillance\" (initially aired 7/28/09)",
             "10TV news (CBS), \"Smart Technology Being Used at Ohio State\" (Aired 07/17/09)",
             "OSU Video, \"Better Eyes\" (released January 9, 2009)",
             "OSU Video, \"'Smart' Surveillance System May Tag Suspicious or Lost People\" (released 12/08)",
             "Frontline: \"Spying on the Home Front\" (Aired 05/15/07)",
             "Fox-28/ABC-6 News, \"They're Watching You\" (Aired 05/10/04)",
             "Fox-28/ABC-6 News, Interview on thermal technology (Aired 05/08/03, 05/09/03)",
             "NBC-4 News, (aired 05/09/03)",
             "CBS-10 News, (aired 05/04/03)",
             "OSU Video,\"Researcher developing video technology for surveillance: Cameras being trained to `see' people and recognize their activities\" (released 04/30/03)"
             ],
"radio_list": [ "NPR (WOSU) Interview on \"All Sides with Ann Fisher\" (aired live 01/20/15)", 
                "NPR (WOSU) Interview on \"All Sides with Ann Fisher\" (aired live 07/03/14)",
                "AAAS Science Update radio feature, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/16-InternetVideoStory.mp3\">\"Internet Video: A new technology could make watching video on the Internet less frustrating\"</a> (aired January 12, 2005)"
             ],
"print_list": [ "Security Dealer & Integrator, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/SDI-2011.pdf\">                \"Eye on Troublesome Patterns,\"</a> May 25, 2011",
                "Popular Mechanics, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/PM-2011.pdf\">\"PM's Guide to the Best in Home Surveillance Gear,\"</a> April 6, 2011",
                "The Why Files: the Science Behind the News, <a href=\"https://whyfiles.org/323cyberspies/index.php?g=2.txt\">\"Video Surveillance: Who is Watching You, and Why,\"</a> March 11, 2010",
                "Electrical Contractor magazine, <a href=\"http://www.ecmag.com/section/miscellaneous/security-focus-surveillance-smarts\">\"Surveillance with Smarts,\"</a> February 2010, p. 50",
                "OSU Alumni Magazine, Research Report Article, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/alumni09.pdf\">\"Eye in the Sky\"</a>, May/June, 2009, page 30",
                "OSU News In Engineering Research Update article, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/nie811.pdf\">\"Intelligent Surveillance Could Aid Law Enforcement\"</a>, Vol. 81, No. 1, 2009",
                "SPIE Newsroom: Electronic Imaging & Signal Processing, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Publications/SPIE09.pdf\">\"A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery\"</a> (February 25, 2009)",
                "Photonics Spectra, Tech News, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/PhotonicsSpectra09.pdf\">\"Neighborhood Watch, Sans Neighbors\"</a> (February, 2009; pp. 18-20)",
                "MSNBC, Technology & Science, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/MSNBC-09.pdf\">\"Computer has eye for Suspicious Behavior\"</a> (January 26, 2009)",
                "Columbus Dispatch, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/MSNBC-09.pdf\">\"Computers Might Spot People up to no Good\"</a> (January 24, 2009)",
                "onCampus, Discovery Briefs, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/onCampus-09.pdf\">\"'Smart' Surveillance System May Tag Suspicious or Lost People\"</a> (January 8, 2009)",
                "UWeekly <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/UWeekly-09.pdf\">\"Big Brother No, Smart Camera Yes\"</a> (February 18, 2009)",
                "The Lantern, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/Lantern09b.pdf\">\"Under Surveillance\"</a> (January 27, 2009) [PDF]",
                "The Lantern, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/Lantern09.pdf\">\"'Smart' Cameras are Watching You\" (January 9, 2009)",
                "OSU News Release, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/OSU-press-08-print.pdf\">\"'Smart' Surveillance System May Tag Suspicious or Lost People\"</a> (released 12/08)",
                "The Economist, Science & Technology section, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/TheEconomist08.pdf\">\"Surveillance Technology: If Looks Could Kill\"</a>, October 23, 2008",
                "OSU CSE Newletter, Focus on Research Article, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/jwdavis-research-cse-07.pdf\">\"Jim Davis: Vision for the Future of Surveillance\"</a>, Autumn 2007, pages 2-3",
                "OSU Alumni Magazine, Research Report Article, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/OSAM05.pdf\">\"Watch the Hands and Face\"</a>, May/June, 2005, page 8",
                "OSU News In Engineering Research Update article, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/NIE_77.1_Spring_2005.pdf\">\"Advancing Technologies for Internet Video\"</a>, Vol. 77, No. 1, Spring 2005",
                "ACM TechNews Feature, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/ACMNewsService.pdf\">\"Researchers Find Way to Make Internet Video More Appealing\"</a>, Vol. 6, Issue 734, December 22, 2004",
                "OSU News Release, \"Researchers find way to make internet video more appealing\"</a> (released 12/21/04)",
                "Homeland Security & Defense, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/HSARPA.pdf\">\"HSARPA seeking video software technology to interpret complex surveillance stream\"</a>, Vol. 3, No. 16, April 21, 2004",
                "Columbus Business First, Tech Now feature article, <a href=\"http://web.cse.ohio-state.edu/~davis.1719/Media/busFirst03.pdf\">\"Hot on Surveillance: Thermal technology grows in popularity, importance in post-911 world\"</a>, Vol. 20, No. 7, Oct. 17, 2003"
             ]
;;;
<!--@author: Sarah Ryherd @date: 10/16/17 Created page, filled out media/press information-->
<!--@author: Aakash Singh @date: 10/17/17 Modified code to add embedded ruby code-->
<div class="body">
  <h1>TV/Video</h1>
  <ul>
    <% current_page.data.tv_list.each do |t| %>
        <li><%= t %></li>
    <% end %>
  </ul>
  <h1>Radio</h1>
  <ul>
    <% current_page.data.radio_list.each do |r| %>
        <li><%= r %></li>
    <% end %>
  </ul>
  <h1>Print</h1>
  <ul>
    <% current_page.data.print_list.each do |pl| %>
        <li><%= pl %></li>
    <% end %>
  </ul>
</div>