---
title: "Dr. James W. Davis: Pictures"
---

<!--@author: John Morales @date: 10/17/17 Made this page.-->

<div class="divTable">
  <div class="divTableBody">

    <div class="divTableRow">
      <div class="divTableCell">
        <img class="centerImg" src="images/KarthikMatt2013.png">
        <h3>Karthik and Matt back for a visit (October 21, 2013)</h3>
      </div>
      <div class="divTableCell">
        <img class="centerImg" src="images/2012-lab.png">
        <h3>Davis lab out for lunch (June 2012)</h3>
      </div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell">
        <img class="centerImg" src="images/Kevin-1.png">
        <h3>Kevin signing "the Ph.D. hat" (April 2012)</h3>
      </div>
      <div class="divTableCell">
        <img class="centerImg" src="images/Kevin-2.png">
        <h3>Kevin wearing "the Ph.D. hat" (April 2012)</h3>
      </div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell">
        <img class="centerImg" src="images/AU11_Orientation--Davis-2.png">
        <h3>Prof. Davis speaking at AU11 orientation</h3>
      </div>
      <div class="divTableCell">
        <img class="centerImg" src="images/Karthik-1.png">
        <h3>Karthik signing "the Ph.D. hat"</h3>
      </div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell">
        <img class="centerImg" src="images/Karthik-2.png">
        <h3>Karthik wearing "the Ph.D. hat"</h3>
      </div>
      <div class="divTableCell">
        <img class="centerImg" src="images/Davis-lab-2011.png">
        <h3>Current and past members of the lab at "Garden of the Gods" (Colorado Springs), 2011
Pictured (left-to-right): Kevin Streib, Vinay Sharma, Karthik Sankaranarayanan, Prof. Davis, Ambrish Tyagi, Mark Keck</h3>
      </div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell">
        <img class="centerImg" src="images/CityBeat09.png">
        <h3>Matt and Kevin (far right) featured in picture and news article on AFRL research</h3>
      </div>
      <div class="divTableCell">
        <img class="centerImg" src="images/lab2009.png">
        <h3>2009 lab photo. Pictured (left-to-right): Billy Hartmann, Prof. Davis, Ambrish Tyagi, Matt Nedrich, Karthik Sankaranarayanan, Karl Salva, Mark Keck</h3>
      </div>
    </div>

    <div class="divTableRow">
      <div class="divTableCell">
        <img class="centerImg" src="images/lab2007.png">
        <h3>2007 lab photo. Pictured (left-to-right): Billy Hartmann, Mark Keck, Hui Gao (alum visiting) Prof. Davis, Ambrish Tyagi, Vinay Sharma</h3>
      </div>
    </div>

  </div>
</div>
