<!--@author: Sarah Ryherd @date: 10/9/17 Populated footer content.-->
<!--@author: Shaina Leibovich @date: 10/16/17 created file, added footer content-->
<footer>
  <hr>
  <div class="leftColumn">
    <h3 class="footer">Office:</h3>
    <p>491 Dreese Laboratories</p>
    <p>2015 Neil Avenue</p>
    <p>Ohio State University</p>
    <p>Columbus, OH 43210</p>
  </div>
  <div class="rightColumn">
    <h3 class="footer">Contact:</h3>
    <p>Office: 614-292-1553</p>
    <p>Lab: 614-292-5137</p>
    <p>Fax: 614-292-2911</p>
    <p>jwdavis@cse.ohio-state.edu</p>
    <p>http://www.cse.ohio-state.edu/~jwdavis</p>
  </div>
</footer>
