<!--@author: Sarah Ryherd @date: 10/9/17 Populated the header information-->
<!--@author: Shaina Leibovich @date: 10/16/17 created file, added header content-->
<!--@author: John Morales @date: 10/16/17 Changed ids to classes-->
<!--@author: John Burgess @date: 10/16/17 Changed div to span-->
<!--@author: Sarah Ryherd @date: 10/17/17 Added home and appointments link-->
<!--@author: John Morales @date: 10/17/17 Fixed Header by implementing div table-->

<div class="divTable">
  <div class="divTableBody">

    <div class="divTableRow">
      <div class="divTableCell"><a class="title" href="homepage.html">JIM DAVIS</a></div>
      <div class="divTableCell">

        <div class="divTable">
          <div class="divTableBody">

            <div class="divTableRow">
              <div class="divTableCell headerCell"><a href="homepage.html">Home</a></div>
              <div class="divTableCell headerCell"><a href="appointments.html">Appointments</a></div>
              <div class="divTableCell headerCell"><a href="publications.html">Publications</a></div>
              <div class="divTableCell headerCell"><a href="teaching.html">Teaching</a></div>
              <div class="divTableCell headerCell"><a href="people.html">People</a></div>
              <div class="divTableCell headerCell"><a href="mediapress.html">Media/Press</a></div>
              <div class="divTableCell headerCell"><a href="news.html">News</a></div>
              <div class="divTableCell headerCell"><a href="pictures.html">Pictures</a></div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<hr>
