<div class="col-6">

<head>
<title>Semester 1</title>
</head>
<link rel="stylesheet"
 type="text/css"
 href="semester.css"/>
      <div class="tablerow"><h5><center>Autumn Semester 2017</center></h5></div>
        <div class="tablerow">
          <span>Course</span>
          <span>Credit Hours</span>
        </div>
        <div class="tablerow">
          <span>MATH 1172</span>
          <span>5</span>
        </div>
        <div class="tablerow">
          <span>CSE 1223</span>
          <span>3</span>
        </div>
        <div class="tablerow">
          <span>ENGR 1106.01</span>
          <span>1</span>
        </div>
        <div class="tablerow">
          <span>PHYSICS 1250</span>
          <span>5</span>
        </div>
      <div class="tablerow">
        <h6>Total Hours</h6>
        <span>14</span>
      </div>


</div>
