<div class="col-6" name="partialSemester">

<link rel="stylesheet"
 type="text/css"
 href="semester.css"/>
<div class="tablerow">
  <h5>
    <center><%=amount%></center>
  </h5>
</div>
<div class="tabletitlerow">
  <span class="className">Course</span>
  <span class="creditHours">Credit Hours</span>
</div>

<div class="emptyrow" ondrop="dropIntoSemester(event)" ondragover="allowDrop(event)" totalhourid="<%=amountId%>">
</div>

<div class="tabletitlerow">
  <span class="className" name="totalHours">Total Hours</span>
  <span class="creditHours" name="creditHours" id="<%=amountId%>">0</span>
</div>

</div>
