<div class="col-6">

<link rel="stylesheet"
 type="text/css"
 href="semester.css"/>
<div class="tablerow">
  <h5>
    <center><%=amount%></center>
  </h5>
</div>
<div class="tabletitlerow">
  <span class="className">Course</span>
  <span class="creditHours">Credit Hours</span>
</div>

<div class="emptyrow" ondrop="dropIntoSemester(event)" ondragover="allowDrop(event)">
</div>

<div class="tabletitlerow">
  <span class="className">Total Hours</span>
  <span class="creditHours">14</span>
</div>

</div>
