---
title: SPrC Homepage
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="header">
        <strong>Full Schedule</strong>
      </h1>
    </div>
    <div class="col-9">
      <div class="row" id="addSemester">
        <div class="col-12">
          <h4>Semester</h4>
        </div>
        <%= partial( "semester", :locals => { :amount => "Autumn 2017", :amountId => "Au2017"}) %>
        <%= partial( "semester", :locals => { :amount => "Spring 2018", :amountId => "Sp2018"}) %>
      </div>
      <div class="row">
        <div class="col-6" >
          <button type="button" onclick="addSemester()" class="redbutton">Add Semester</button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <h4>Classes</h4>
        </div>
        <div class="col-12">
          <input id="classes" placeholder="Search for class"/>
        </div>
        <div class="col-12" id="classList">
        </div>
        <div class="col-12" id="classListSearch" hidden="true">
        </div>
        <div id="sectionHeader" hidden="true">
          <h3 class="headerName"></h3>
          <div name="accordionDiv" ondrop="dropList(event)" ondragover="allowDrop(event)"></div>
        </div>
        <div id="draggableDiv" hidden="true">
          <div>
            <div id="draggedDiv" class="col-12 draggable" draggable="true" ondragstart="drag(event)">
              <span class="className"></span>
              <span class="creditHours"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="helpers/coursesTaken.json"></script>
<script type="text/javascript" src="helpers/genEdsToTake.json"></script>
<script>
  var ge = JSON.parse(genEdsToTake);

  var availableClasses = [];
  var geArr = ["Gen Eds"];
  var holder = [];
  for (var i = 0; i < ge.genEds.length; i++){
    var temp = [];
    temp.push(ge.genEds[i].courseName);
    temp.push(parseFloat(ge.genEds[i].credits));
    holder.push(temp);
  }
  geArr.push(holder);
  var availableClasses = [];
  availableClasses.push(geArr);
  console.log(availableClasses);

  function getAvailableClasses(){
    var classes = [];
    $.each(availableClasses, function(key, classList){
      $.each(classList[1], function(key, value){
        classes.push(value[0]);
      });
    });
    return classes;
  }

  var takenClasses = [];

  function allowDrop(ev) {
      ev.preventDefault();
  }

  function drag(e){
    e.dataTransfer.setData("text", e.target.id);
  }

  function dropIntoSemester(e){
    e.preventDefault();
    var data = e.dataTransfer.getData("text");
    var container = e.target;
    while(container.getAttribute("class") != "emptyrow"){
      container = container.parentNode;
    }
    var takenClass = $("#" + data).find("span.className").html();
    if(takenClass!=undefined){
      container.append(document.getElementById(data));
      takenClasses.push(takenClass);
    }
    updateTotalHours();
  }

  function dropList(e){
    e.preventDefault();
    var data = e.dataTransfer.getData("text");
    var takenClass = $("#" + data).find("span.className").html();

    if(takenClasses.includes(takenClass)){
      takenClasses.splice(takenClasses.indexOf(takenClass), 1);
    }
    var container = e.target;
    while(container.getAttribute("name") != "accordionDiv"){
      container = container.parentNode;
    }
    container.append(document.getElementById(data));
    updateTotalHours();
  }

  function updateTotalHours(){
    $(".emptyrow").each(function(){
      var totalHours = 0.0;
      $(this).find("span.creditHours").each(function(){
        totalHours = totalHours + parseFloat($(this).html());
      });
      var id = $(this).attr("totalhourid");
      $("#" + id).html(totalHours);
    })
  }

  function addSemester(){
    var semester = $("div[name='partialSemester']").first();
    var renameIdSpan = semester.find("div.tabletitlerow").find("span[name=creditHours]");
    var renameIdEmptyRow = semester.find(".emptyrow");
    var idS = renameIdSpan.attr("id");
    var idE = renameIdEmptyRow.attr("totalhourid");
    var html = semester.html();
    renameIdSpan.attr("id", idS + "1");
    renameIdEmptyRow.attr("totalhourid", idE + "1");
    $("#addSemester").append("<div class='col-6'>" + html + "</div>");
  }

  function appendClass(className, containingDiv){
    $("#draggableDiv").find(".className").html(className[0]);
    $("#draggableDiv").find(".creditHours").html(className[1]);
    var array = className[0].split(" ");
    var id = "";
    $.each(array, function(key, value){
      id = id + value;
    });

    var oldId = $("#draggedDiv").attr("id");

    $("#draggedDiv").attr("id", id);
    var divHtml = $("#draggableDiv").html();
    $("#" + id).attr("id", oldId);
    containingDiv.append(divHtml);
  }

  function createSection(classArray, id, searchTerm){
    var sectionName = classArray[0];
    var classes = classArray[1];

    $("#sectionHeader").find("h3").html(sectionName);
    $("#sectionHeader").find("div").attr("id", sectionName);
    var sectionHeaderHtml = $("#sectionHeader").html();

    $(id).append(sectionHeaderHtml);
    var containingDiv = $("#" + sectionName).find("div");
    containingDiv.attr("id", "");

    $.each(classes, function(key, classPair){
      if(!takenClasses.includes(classPair[0]) && classPair[0].includes(searchTerm)){
        appendClass(classPair, $("#" + sectionName));
      }
    });
  }

  function setClasses(){
    $("#classList").html("");
    $.each(availableClasses, function(key, classArray){
      createSection(classArray, "#classList", "");
    });
  }

  function getSearchResults(){
    var filterText = $("#classes").val();
    $("#classList").attr("hidden", "true");
    $("#classListSearch").attr("hidden", "false");
    $("#classListSearch").html("");
    $.each(availableClasses, function(key, classArray){
      createSection(classArray, "#classListSearch", filterText);
    });
  }

  setClasses();

  $("#classes").on("keyup", function(){
    $("#classes").attr("autocomplete", "on");
  });

  $( function() {
      $(".draggable").attr("draggable", "true");
      $(".draggable").attr("ondragstart", "drag(event)");
      setClasses();
      $( "#classes" ).autocomplete({
        source: getAvailableClasses(),
      });
      $("#classList").accordion();
    } );
</script>
