---
<<<<<<< HEAD
title: Welcome to Middleman
---

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 340" class="middleman-logo" aria-labelledby="middleman-logo__title" role="img">
  <title id="middleman-logo__title">Middleman</title>
  <path class="middleman-logo__top-left-bar" fill-opacity=".45" d="M0 40L200 0v30L0 60z"/>
  <path class="middleman-logo__top-right-bar" fill="#fff" d="M200 0l200 40v20L200 30z"/>
  <path class="middleman-logo__left-m" fill-opacity=".45" d="M0 78v184l45 5V152l45 83 47-83v129l53 7V52l-57 8-43 83-43-70z"/>
  <path class="middleman-logo__right-m" fill="#fff" d="M400 78v184l-45 5V152l-45 83-47-83v129l-53 7V52l57 8 43 83 43-70z"/>
  <path class="middleman-logo__bottom-left-bar" fill-opacity=".45" d="M0 300l200 40v-30L0 280z"/>
  <path class="middleman-logo__bottom-right-bar" fill="#fff" d="M200 340l200-40v-20l-200 30z"/>
</svg>

<h1>
  Middleman is Running
</h1>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
=======
title: SPrC Homepage
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="header">
        <strong>Full Schedule</strong>
      </h1>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <h4>Semester</h4>
        </div>
        <%= partial "semester"%>
        <%= partial "semester"%>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <h4>Classes</h4>
        </div>
        <div class="col-12">
          <input id="classes" placeholder="Search for class"/>
        </div>
        <div class="col-12" id="classList">
        </div>
        <div id="sectionHeader" hidden="true">
          <h3 class="headerName"></h3>
          <div name="accordionDiv" ondrop="dropList(event)" ondragover="allowDrop(event)"></div>
        </div>
        <div id="draggableDiv" hidden="true">
          <div>
            <div id="draggedDiv" class="col-12 draggable" draggable="true" ondragstart="drag(event)">
              <span class="className"></span>
              <span class="creditHours"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var availableClasses = [
    ["CORE",[["CSE 1011", 4.5], ["CSE 1121", 4.0], ["CSE 2111", 3.0], ["CSE 3322", 1.0]]],
    ["GE",[["ENGL 1011", 4.0], ["ENGL 1121", 4.0], ["ENGL 2111", 3.0], ["ENGL 3322", 1.0]]],
    ["TE",[["ECE 1011", 4.0], ["ECE 1121", 4.0], ["ECE 2111", 3.0], ["ECE 3322", 1.0]]],
  ];

  var takenClasses = [];

  function allowDrop(ev) {
      ev.preventDefault();
  }

  function drag(e){
    e.dataTransfer.setData("text", e.target.id);
  }

  function dropEmpty(e){
    e.preventDefault();
    var data = e.dataTransfer.getData("text");
    var container = e.target;
    while(container.getAttribute("class") != "emptyrow"){
      container = container.parentNode;
    }
    var takenClass = $("#" + data).find("span.className").html();
    if(takenClass!=undefined){
      container.append(document.getElementById(data));
      takenClasses.push(takenClass);
    }
  }

  function dropList(e){
    e.preventDefault();
    var data = e.dataTransfer.getData("text");
    var takenClass = $("#" + data).find("span.className").html();

    if(takenClasses.includes(takenClass)){
      takenClasses.splice(takenClasses.indexOf(takenClass), 1);
    }
    var container = e.target;
    while(container.getAttribute("name") != "accordionDiv"){
      container = container.parentNode;
    }
    container.append(document.getElementById(data));
  }

  function appendClass(className, containingDiv){
    $("#draggableDiv").find(".className").html(className[0]);
    $("#draggableDiv").find(".creditHours").html(className[1]);
    var array = className[0].split(" ");
    var id = "";
    $.each(array, function(key, value){
      id = id + value;
    });

    var oldId = $("#draggedDiv").attr("id");

    $("#draggedDiv").attr("id", id);
    var divHtml = $("#draggableDiv").html();
    $("#" + id).attr("id", oldId);
    containingDiv.append(divHtml);
  }

  function createSection(classArray){
    var sectionName = classArray[0];
    var classes = classArray[1];

    $("#sectionHeader").find("h3").html(sectionName);
    $("#sectionHeader").find("div").attr("id", sectionName);
    var sectionHeaderHtml = $("#sectionHeader").html();

    $("#classList").append(sectionHeaderHtml);
    var containingDiv = $("#" + sectionName).find("div");
    containingDiv.attr("id", "");

    $.each(classes, function(key, classPair){
      if(!takenClasses.includes(classPair[0])){
        appendClass(classPair, $("#" + sectionName));
      }
    });
  }

  function setClasses(){
    var filterText = $("#classes").val();
    $("#classList").html("");
    $.each(availableClasses, function(key, classArray){
      createSection(classArray);
    });
  }

  setClasses();


  $( function() {
      $(".draggable").attr("draggable", "true");
      $(".draggable").attr("ondragstart", "drag(event)");
      setClasses();
      $( "#classes" ).autocomplete({
        source: availableClasses,
        close: setClasses
      });
      $("#classList").accordion();
    } );
</script>
>>>>>>> addff47e5a81cd4cdd5b9d4b77a2e1ad549ca2db
