---
title: Upload Degree Audit
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="header">
        <strong>Degree Audit</strong>
      </h1>
    </div>
    <div class="col-12">
      <div class="file">
        <label for="file-input">Upload Degree Audit</label>
        <input type="file" id="file-input"/>
        <button type="button" class="draggable">Schedule Projection</button>
      </div>
    </div>
  </div>
</div>
